
/*** Quick Filter Widget (QFW) ***/
#uswidget {
	height: 22px;
}

#usw-searchbox {
	font-style: normal !important;
	height: 22px;
	-moz-appearance: none !important;
  /* copiado de #searchbox */
  -moz-appearance: none;
  min-height: 22px;
  border: 1px solid threedshadow;
  -moz-padding-end: 2px;
  -moz-padding-start: 2px;
}
#usw-searchbox:-moz-lwtheme:not([focused="true"]) {
  opacity: .85;
}

#uswidget #usw-box-buttons > toolbarbutton {
	-moz-appearance: none !important;
	padding: 0 2px;
}
#uswidget #usw-box-buttons > toolbarbutton[checked=true] {
	-moz-appearance: none !important;
	padding: 0 2px !important;
}
#uswidget #usw-bar {
	color: black;
}
/* Widget buttons */
#usw-sticky {
	list-style-image: url(chrome://unifiedsearch/skin/icons/pin-off.png);
}
#usw-sticky[checked=true] {
	list-style-image: url(chrome://unifiedsearch/skin/icons/pin-on.png);
}
#usw-criteria {
	list-style-image: url(chrome://global/skin/tree/columnpicker.gif); /* it's global, no problem */
	/*height: 18px;*/
}
#usw-box-buttons {
	cursor: default;
}
#usw-clear {
	list-style-image: url(chrome://unifiedsearch/skin/icons/search-close.png);
	-moz-image-region: rect(0, 16px, 18px, 0) !important;
}
/* Widget Modes */
#uswidget[uswmode='filter'] #usw-switchmode {
	list-style-image: url(chrome://unifiedsearch/skin/icons/filter.png);
	-moz-image-region: rect(0, 16px, 18px, 0) !important;
}
#uswidget[uswmode='search'] #usw-switchmode {
	list-style-image: url(chrome://global/skin/icons/Search-glass.png); /* it's global, no problem */
	-moz-image-region: rect(0, 16px, 18px, 0) !important;
}
#uswidget[uswmode='search'] #usw-sticky {
	visibility: hidden; /* no collapse, to maintain the widget with */
}

/* bar buttons images: */
#usb-unread {
  list-style-image: url("chrome://unifiedsearch/skin/icons/filterbar.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
#usb-starred {
  list-style-image: url("chrome://unifiedsearch/skin/icons/filterbar.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}
#usb-inaddrbook {
  list-style-image: url("chrome://unifiedsearch/skin/icons/filterbar.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}
#usb-tags {
  list-style-image: url("chrome://unifiedsearch/skin/icons/filterbar.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}
#usb-attachment {
  list-style-image: url("chrome://unifiedsearch/skin/icons/filterbar.png");
  -moz-image-region: rect(0px 80px 16px 64px);
}
#usb-unread[checked=true], #usb-starred[checked=true] {
  list-style-image: url("chrome://unifiedsearch/skin/icons/filterbar-on.png");
}
/* Criteria/options mode: */
#usm-usebar {
/*	list-style-image: url("chrome://unifiedsearch/skin/icons/arrows.png");
	-moz-image-region: rect(0, 11px, 11px, 0);*/
	list-style-image: url("chrome://unifiedsearch/skin/icons/arrow-left.png");
}
#usb-usemenu {
/*	list-style-image: url("chrome://unifiedsearch/skin/icons/arrows.png");
	-moz-image-region: rect(0, 22px, 11px, 11px);*/
	list-style-image: url("chrome://unifiedsearch/skin/icons/arrow-down.png");
}
/* User info / tooltips */
#usw-info {
	background-color: #33DD00;
}

/** Customize window **/
/*#CustomizeToolbarWindow #usw-box-buttons {
	-moz-box-pack: end;
}*/
